## env are parsed by next.config.js and next.config.js is
## saying which env is open to public(frontend) or backend.

# Public
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=
GITHUB_APP_ID=
FRONT_URL=http://localhost:3000

# Private
CLERK_SECRET_KEY=
GITHUB_PRIVATE_KEY=
STRIPE_SECRET=
STRIPE_WEBHOOK_SECRET=
REMOTION_AWS_ACCESS_KEY_ID=
REMOTION_AWS_SECRET_ACCESS_KEY=
